.policy-text ul {
    padding: 0;
    padding-left: 35px;
    line-height: .9rem;
}

.color {
    color: #B7AFA6;
}

.color_gainsboro {
    color: #dfdfdc;
}

.align_center {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.policy__head {
    margin-top: 3px;
}

.margin-top_23px {
    margin-top: 23px;
}

.margin-top_42px {
    margin-top: 42px;
}

.margin-top_46px {
    margin-top: 46px;
}

.section-8,
.section-13,
.section-14 {
    margin-top: 20px;
}

.section-9,
.section-15 {
    line-height: .9rem;
}

.policy-text h2,
.policy-text {
    font-size: 1.6vw;
}

@media screen and (max-width: 768px) {
    .policy-text h2,
    .policy-text {
        font-size: 4.5vw;
    }

    .policy__head {
        align-items: flex-start;
        text-align: left;
    }

    .policy__head h1 {
        width: 100%;
        text-align: center;
    }
}

body > .policy-text {
    z-index: 10;
}